* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

h2 {
    border: 1px solid black;
    text-align: center;
    float:right;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
    width: 150px;
}

p {
    margin: 10px;
    border: 1px solid black;
    background-color:gray;
    padding-top: 50px;
    padding-left: 10px;
    padding-right:10px;

}

.chicken {
    background-color: lightskyblue;
}

.beef {
    color: white;
    background-color: lightgreen;
}

.sushi {
    background-color: tomato;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
  h2 {
    bottom: 10px;
  }

}


@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6, .col-md-12 {
    float: left;
}

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
  h2 {
    bottom: 10px;
  }
}

@media (max-width: 767px) {

.col-sm-12 {
    float: left;
  }
.col-sm-12{
    width: 100%;
  }

h2 {
  bottom: 19px;
  }
}